<?xml version="1.0" encoding="UTF-8" ?>
	<web-app>
		<servlet>
			<display-name>WelcomeServlet</display-name>
			<servlet-name>WelcomeServlet</servlet-name>
			<servlet-class>com.nexwave.servlets.WelcomeServlet</servlet-class>
		</servlet>
	<welcome-file-list>
			<welcome-file>WelcomeServlet</welcome-file>
	</welcome-file-list>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/WelcomeServlet</url-pattern>
	</servlet-mapping>
	</web-app>