<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoanServlet</servlet-name>
    <servlet-class>com.modeln.servlets.LoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoanServlet</servlet-name>
    <url-pattern>/hdfc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>com.modeln.servlets.DepositServlet</servlet-class>
    <init-param>
      <param-name>oname</param-name>
      <param-value>ModelN,Hyderabad</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/axis</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>country</param-name>
    <param-value>India
  </param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.modeln.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validate</display-name>
    <servlet-name>Validate</servlet-name>
    <servlet-class>com.modeln.servlets.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
</web-app>